*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    text-align: center; 
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */