@media(max-width:1300px){
    section{
     padding:50px 0px;
     margin:15px 90px;
 }
 
 article{
     margin-top:-490px;
     height:475px;
     padding:20px 50px;
     margin-right: 90px;
 }
   
 }
 @media(max-width:1000px){
   section{
     padding:50px 0px;
     margin:15px 80px;
 }
 
 article{
     padding:20px 50px;
     margin-right: 80px;
 }
 }

@media (max-width:926px){
  article{
    margin-top:-510px;
    height:490px;
}
 @media(max-width:900px){
   section{
     margin:15px 70px;
 }
}
 article{
     margin-right: 70px;
 }
 }
 @media(max-width:800px){
   section{
     margin:15px 60px;
 }
 
 article{
     margin-right: 60px;
     margin-top:-510px;
       height:495px;
 }

 }
 @media (max-width:700px){
     .container{
         flex-direction: column;
     }
     .container figure img{
         width:40vw;
         height: 30vh;
     }
     .container figure figcaption{
         position:absolute;
         left:42.5%;
         margin: -100px auto;
     }
     #main-div{
         margin-top:0;
     }
     section{
         margin:15px 40px;
         padding:30px 20px;
     }
     article{
       margin-top:-400px;
       height:385px;
         margin-right: 40px;
         padding:20px 30px;
     }
     article li{
      padding:10px;
     }
     .details{
          height: 125px;
          width:90%;
      }

      header{
          width:90%;
          padding:20px;
      }
      .bbn{
          width:120px;
          height:60px;
      }
      .bbnradio{
          padding:20px 5px;
         }
         .final-img{
          width:90%;
          margin: 0 auto;
          height:100px;
      }
      iframe{
        margin-top:10px;
      }
 }
 @media(max-width:630px){
  iframe{
    width:90%; 
    height:450px;
  }
 }
 @media (max-width:615px){
   article{
      margin-top:-445px;
     height:410px;
   }
 }
 @media (max-width:485px){
   section{
     padding:35px 0px;
         margin:15px 30px;
     }
     iframe{
      width:95%; 
      height:410px;
    }
     article{
         margin-right: 30px;
       padding:20px 10px;
       margin-top:-455px;
     height:410px;
     }
    .container figure img{
         width:60vw;
         height: 30vh;
     }
     nav ul{
      flex-wrap:wrap;
    }
    nav li>ul{
      display:none;
      list-style: none;
      }
  
  nav li:hover>ul{
    z-index:10;
  }

 }
 @media(max-width:400px){
 .imgs{
     width: 300px;
     margin:0 auto;
 }
 
 .imgs img{
     width:300px;
     height:300px;
     margin: 0 auto;
 }
   section{
     padding:25px 0px;
         margin:15px 20px;
     }
     article{
         margin-right: 20px;
       padding:20px 0px;
       margin-top:-370px;
     height:360px;
     }
     article li{
      font-size:14px;
  }
   .container figure img{
         width:70vw;
         height: 30vh;
     }
   .container figure figcaption{
         position:absolute;
         left:38.5%;
         margin: -90px auto;
     }
     iframe{
      width:95%; 
      height:390px;
    }
   h2{
     font-size:15px;
   }
   p {
     font-size:12px;
   }
   header{
      width:90%;
      padding:10px;
  }
     
 }
 @media (max-width:390px) {
  article{
  margin-top:-390px;
height:360px;
}
}
 @media(max-width:330px){
   .imgs{
     width: 270px;
 }
   
 .imgs img{
     width:270px;
     height:270px;
 }
 iframe{

  height:360px;
}
 article li{
     padding: 10px 0px 10px 0;
 }
 .bbn{
  width:80px;
  height:55px;
 }
 h2, h3{
     font-size: 15px;
 }

.bbnradio{
  padding:20px 5px;
 }
 .details{
     height:95px;
 }
}
@media(max-width:300px){
section{
     padding:25px 0px;
         margin:15px 10px;
     }
     article{
         margin-right: 10px;
       padding:20px 0px;
       margin-top:-420px;
     height:385px;
     }
}
@media(max-width:265px){
  article li{
      font-size:12px;
  }
}
