@font-face{
    font-family: 'valorant';
    src: url(ValorantFont.ttf)
}

body{
       background-image: url(imgs/fondo1.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center; 
   }
   header{
       background: linear-gradient(
           90deg,
           rgba(187,168,129,0.9),
           rgba(207,180,148,0.9)
       );
       width:80%;
       margin:0 auto;
       padding:20px;
       margin-top:25px;
       box-shadow: 1px 1px 20px coral ;
   }
   h1{
       margin: 25px 0 5px 0;
       font-size:25px;
       font-family: 'Noto Sans JP', sans-serif;
       font-weight: 700;
   }
.verse, p{
       font-family: 'Noto Sans JP', sans-serif;
       font-size:15px;
       font-weight: 500;
   }
   
   /*Slider del header*/
   .imgs{
       width: 400px;
       overflow: hidden;
       margin-top: 100px;
       margin: auto;
   }
   .imgs ul{
   display: flex;
   padding: 0;
   width:400%;
   animation: slider 15s infinite alternate;
   }
   .imgs ul:hover{
       animation-play-state: paused;
       cursor: wait;
   }
   .imgs li{
       list-style: none;
       width: 100%;
   }
   .imgs img{
       width:400px;
       height:300px;
   }
    @keyframes slider{
        0%{
            margin-left: 0%;
        }
        15%{
            margin-left: 0%;
        }
        25%{
            margin-left: -100%;
        }
        40%{
           margin-left: -100%;
       }
       50%{
           margin-left: -200%;
       }
       65%{
           margin-left: -200%;
       }
       70%{
           margin-left: -300%;
       }
       80%{
           margin-left: -300%;
       }
       90%{
           margin-left: -400%;
       }
       100%{
           margin-left:-400%;
       }
    }
    /*Fin del SLIDER*/

    nav ul{
        display: flex;
        
        align-items: center;
        justify-content: center;
        margin:15px;
    }
    nav a{
        text-decoration:none;
       color:inherit;
       
       font-size:12px;
       }
             
   nav li{
        padding: 5px 12px;
       background-color: orange;
       border: 1px solid red;
       text-align:center;
       color:#fff;
       position:relative;
       
   }
             
   nav li:hover{
       background-color:#fff;
       color:#000;
       }
             
   nav li>ul{
       display:none;
       list-style: none;
       }
   
   nav li:hover>ul{
       display:block;
       position: absolute;
       top:10px;
       left:-10px;
   }
    main{
        margin-top: 15px;
    }
    .container{
        display: flex;
        width:80%;
        margin: 0 auto;
    }
    .container figure img { 
       width: 27vw;
       height: 38vh;
       border-style: solid;
       border-color: rgba(3, 150, 211, 0.7);
       border-width: 3px;
       border-radius: 500px;
    }
    .container figure figcaption{
        position: sticky;
        width:12vw;
        margin: -150px auto;
        background-color: teal;
        color: whitesmoke;
    }
    #main-div{
        margin-top:300px;
    }
   section{
     display:flex;
     flex-direction:column;
       padding:50px 20px;
       width:40%;
       background-color: wheat;
       margin:15px 125px;
       border: 1px solid transparent;
       border-radius: 15px;
   }
   article{
        display:flex;
        flex-direction: column;
       margin-top:-510px;
       background-color: turquoise;
       width:40%;
       float:right;
       height:495px;
       padding:20px 50px;
       margin-right: 125px;
       border: 1px solid transparent;
       border-radius: 15px;
   }
   .details{
       float:initial;
       padding:10px;
           margin: 0 auto;
           margin-top:-10px;
           height: 120px;
           width:60%;
       }
   .bbn{
       width:150px;
       height:70px;
   }
   .bbnradio{
    padding:30px 20px;
   }

   .final-img{
    width:80%;
    margin: 0 auto;
}
footer{
    padding:5px;
    font-size:12px;
}
h2{
    font-size:20px;
}
article ul{
    margin-top:15px;
}
article li{
 padding:15px;
}
   @media(max-width:1300px){
      section{
       padding:50px 0px;
       margin:15px 90px;
   }
   
   article{
       margin-top:-510px;
       height:495px;
       padding:20px 50px;
       margin-right: 90px;
   }
     
   }
   @media(max-width:1000px){
     section{
       padding:50px 0px;
       margin:15px 80px;
   }
   
   article{
       padding:20px 50px;
       margin-right: 80px;
   }
   }
   @media(max-width:900px){
     section{
       margin:15px 70px;
   }
   
   article{
       margin-right: 70px;
   }
   }
   @media(max-width:800px){
     section{
       margin:15px 60px;
   }
   
   article{
       margin-right: 60px;
       margin-top:-510px;
         height:495px;
   }

   }
   @media (max-width:700px){
       .container{
           flex-direction: column;
       }
       .container figure img{
           width:40vw;
           height: 30vh;
       }
       .container figure figcaption{
           position:absolute;
           left:42.5%;
           margin: -100px auto;
       }
       #main-div{
           margin-top:0;
       }
       section{
           margin:15px 40px;
           padding:30px 20px;
       }
       article{
         margin-top:-400px;
         height:385px;
           margin-right: 40px;
           padding:20px 30px;
       }
       article li{
        padding:10px;
       }
       .details{
            height: 125px;
            width:90%;
        }

        header{
            width:90%;
            padding:20px;
        }
        .bbn{
            width:120px;
            height:60px;
        }
        .bbnradio{
            padding:20px 5px;
           }
           .final-img{
            width:90%;
            margin: 0 auto;
            height:100px;
        }
   }
   @media (max-width:615px){
     article{
        margin-top:-445px;
       height:410px;
     }
   }
   @media (max-width:485px){
     section{
       padding:35px 0px;
           margin:15px 30px;
       }
       article{
           margin-right: 30px;
         padding:20px 10px;
         margin-top:-445px;
       height:410px;
       }
      .container figure img{
           width:60vw;
           height: 30vh;
       }
       nav ul{
        flex-wrap:wrap;
      }
      nav li>ul{
        display:none;
        list-style: none;
        }
    
    nav li:hover>ul{
        display:block;
        top:30px;
        left:0px;
      z-index:10;
    }

   }
   @media(max-width:400px){
   .imgs{
       width: 300px;
       margin:0 auto;
   }
   
   .imgs img{
       width:300px;
       height:300px;
       margin: 0 auto;
   }
     section{
       padding:25px 0px;
           margin:15px 20px;
       }
       article{
           margin-right: 20px;
         padding:20px 0px;
         margin-top:-410px;
       height:385px;
       }
     .container figure img{
           width:70vw;
           height: 30vh;
       }
     .container figure figcaption{
           position:absolute;
           left:38.5%;
           margin: -90px auto;
       }
     h2{
       font-size:15px;
     }
     header{
        width:90%;
        padding:10px;
    }
       
   }
   @media(max-width:330px){
     .imgs{
       width: 270px;
   }
     
   .imgs img{
       width:270px;
       height:270px;
   }
   article li{
       padding: 10px 0px 10px 0;
   }
   .bbn{
    width:80px;
    height:55px;
   }
   h2, h3{
       font-size: 15px;
   }

.bbnradio{
    padding:20px 5px;
   }
   .details{
       height:95px;
   }
}
@media(max-width:300px){
  section{
       padding:25px 0px;
           margin:15px 10px;
       }
       article{
           margin-right: 10px;
         padding:20px 0px;
         margin-top:-410px;
       height:385px;
       }
}
@media(max-width:265px){
    article li{
        font-size:12px;
    }
}
/* ancho minimo 227px de ahi deja de ser responsive :v */