header{
    background: linear-gradient(
        90deg,
        rgba(245, 218, 163, 0.98),
        rgba(250, 209, 159, 0.98)
    );
    width:80%;
    margin:0 auto;
    padding:20px;
    margin-top:25px;
    box-shadow: 1px 1px 20px coral ;
     animation: anim 1s linear 1;

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px;
}
nav a, nav a:hover{
    text-decoration:none;
   color:inherit;
   font-size:12px;
   cursor: url(/cursors/link.cur), auto;
   }
         
nav li{
    padding: 5px 12px;
   background-color: orange;
   border: 1px solid red;
   text-align:center;
   color:#fff;
   position:relative;
}
         
nav li:hover{
   background-color:#fff;
   color:#000;
   cursor: url(/cursors/link.cur), auto;
   }
         
nav li>ul{
   display:none;
   list-style: none;

   }

nav li:hover>ul{
   display:block;
   position: absolute;
   top:20px;
   left:-10px;
   cursor: url(/cursors/link.cur), auto;
}
#goToTop {
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 28px;
    outline: none;
    border: none;
    background:  linear-gradient(45deg, #ff8c09, #e42e71);
    border-radius: 50%;
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5;
}
#goToTop:hover{
    cursor: url(/cursors/unavalible.cur),auto;
}
#goToTop.show:hover{
    cursor: url(/cursors/link.cur),auto;
}
#goToTop.show {
    opacity: 1;
    transition: opacity 0.5;
}
h1{
    margin: 25px 0 5px 0;
    font-size:25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
.verse, p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:15px;
    font-weight: 500;
}
@media (max-width:700px){
    header{
        width:90%;
        padding:20px;
    }
    button {
        bottom: 40px;
        right: 40px;
        width: 50px;
        height: 50px;
        font-size: 26px;
    }
}
@media (max-width:485px){
    nav ul{
        flex-wrap:wrap;
      }
      nav li>ul{
        display:none;
        list-style: none;
        }
    
    nav li:hover>ul{
      z-index:10;
    }
}
@media (max-width:400px){
    header{
        padding:10px;
    }
    button {
        bottom: 30px;
        right: 30px;
        width: 45px;
        height: 45px;
        font-size: 25px;
    }
}