@font-face{
    font-family: 'valorant';
    src: url(ValorantFont.ttf)
}

body{
       background-image: url(/imgs/fondo1.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center; 
       cursor: url(/cursors/unavalible.cur),auto;
   }
   a{
    transition: transform 0.5s;
   }
   a:hover{
       cursor: url(/cursors/mid.cur), auto;
       transform: scaleX(1.1);
       transition: transform 0.5s;
   }
article:hover{
    animation: hover-a 6s alternate 0.1s infinite;
} 
.fb1{
    width:60%;
    margin: 0 auto;
    transition: transform 0.5s;
}
article li:hover, .fb1:hover{
    transform: scaleX(1.1);
    transition: transform 0.5s;
}
section:hover{
    animation: shover 6s alternate 0.1s infinite;
}

   h1{
       margin: 25px 0 5px 0;
       font-size:25px;
       font-family: 'Noto Sans JP', sans-serif;
       font-weight: 700;
   }
.verse, p{
       font-family: 'Noto Sans JP', sans-serif;
       font-size:15px;
       font-weight: 500;
   }
   
   /*Slider del header*/
   .imgs{
       width: 400px;
       overflow: hidden;
       margin-top: 100px;
       margin: auto;
   }
   .imgs ul{
   display: flex;
   padding: 0;
   width:400%;
   animation: slider 10s infinite alternate;
   }
   .imgs ul:hover{
       animation-play-state: paused;
       cursor: url(/cursors/leaguehelp.cur), auto;
   }
   .imgs li{
       list-style: none;
       width: 100%;
   }
   .imgs img{
       width:400px;
       height:300px;
   }
   
    /*Fin del SLIDER*/

    
    main{
        margin-top: 15px;
    }
    .container{
        display: flex;
        width:80%;
        margin: 0 auto;
    }
    .container figure img { 
       width: 27vw;
       height: 38vh;
       border-style: solid;
       border-color: rgba(3, 150, 211, 0.7);
       border-width: 3px;
       border-radius: 500px;
    }
    .container figure figcaption{
        position: sticky;
        width:12vw;
        margin: -150px auto;
        background-color: teal;
        color: whitesmoke;
    }
    #main-div{
        margin-top:0px;
    }
   
   
   .details{
       float:initial;
       padding:10px;
           margin: 0 auto;
           margin-top:-10px;
           height: 120px;
           width:60%;
       }
   .bbn{
       width:150px;
       height:70px;
   }
   .bbnradio{
    padding:30px 20px;
   }

   .final-img{
    width:80%;
    margin: 0 auto;
}
footer{
    padding:5px;
    font-size:12px;
}
h2{
    font-size:20px;
}
article ul{
    margin-top:15px;
}
article li{
 padding:15px;
 transition: transform 0.5s;
}

button {
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 28px;
    outline: none;
    border: none;
    background:  linear-gradient(45deg, #ff8c09, #e42e71);
    border-radius: 50%;
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5;
}
button:hover{
    cursor: url(/cursors/unavalible.cur),auto;
}
button.show:hover{
    cursor: url(/cursors/link.cur),auto;
}
button.show {
    opacity: 1;
    transition: opacity 0.5;
}
section{
    display:flex;
    flex-direction:column;
      padding:50px 20px;
      width:40%;
      background-color: wheat;
      margin:15px 125px;
      border: 1px solid transparent;
      border-radius: 15px;
  }
  article{
    display:flex;
       flex-direction: column;
      margin-top:-490px;
      background-color: turquoise;
      width:40%;
      float:right;
      height:475px;
      padding:20px 50px;
      margin-right: 125px;
      border: 1px solid transparent;
      border-radius: 15px;
  }
.framecaption{
    position:sticky;
         margin-top: 280px;
         padding:10px;
         color: white;
}
/* ancho minimo 227px de ahi deja de ser responsive :v */

/* ANIMACIONES */
@keyframes slider{
    0%{
        margin-left: 0%;
    }
    15%{
        margin-left: 0%;
    }
    25%{
        margin-left: -100%;
    }
    40%{
       margin-left: -100%;
   }
   50%{
       margin-left: -200%;
   }
   65%{
       margin-left: -200%;
   }
   70%{
       margin-left: -300%;
   }
   80%{
       margin-left: -300%;
   }
   90%{
       margin-left: -400%;
   }
   100%{
       margin-left:-400%;
   }
}
@keyframes anim {
 0%{
     position: relative;
     opacity: 0.1;
     top:250px;
 }
 20%{
    position: relative;
     opacity:0.2;
     top:200px;
 }
 40%{
    position: relative;
     opacity: 0.4;
     top:150px;
 }
 60%{
    position: relative;
     opacity: 0.6;
     top:100px;
 }
 80%{
    position: relative;
     opacity: 0.7;
     top:50px;
 }
 99%{
    position: relative;
    opacity: 0.8;
    top:0px;
 }
 100%{
     opacity: initial;
     position: initial;
     
 }
}
@keyframes shover{
    0%{
        opacity: 0.6;
    }
10%{
    opacity: 0.7;
}
20%{
    background-color: lemonchiffon;
    opacity: 0.8;
}
50%{
    background-color: linen;
    opacity: 0.8;
}
75%{
    background-color: moccasin;
    opacity: 0.9;
}
90%{
    background-color: navajowhite;
    opacity: 1;
}
100%{
    background-color: wheat;
}
}
@keyframes hover-a{
    0%{
        opacity: 0.6;
    }
10%{
    opacity: 0.7;
}
20%{
    background-color:skyblue;
    opacity: 0.8;
}
50%{
    background-color:lightskyblue;
    opacity: 0.8;
}
75%{
    opacity: 0.9;
}
90%{
    background-color:paleturquoise;
    opacity: 1;
}
100%{
    background-color: turquoise;
}

}
