@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 2;
}
.index, .index:visited{
  color:white;
  text-decoration: none;
}
body {
  background-color: #333;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#quote-box .quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
#quote-box .quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
}
#quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
#quote-box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}
#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}
#quote-box .buttons .button:hover {
  opacity: 0.9;
}
#quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}
#quote-box .buttons .button#new-quote {
  float: right;
}
@media(max-width:550px){
  *{
    overflow: hidden;
  }
  body {
    font-weight: 300;
  }
  
  #quote-box {
    width: 370px;
    padding: 20px;
    display: block;
  }
  #quote-box .quote-text {
    width: 370px;
    clear: both;
    font-weight: 300;
    font-size: 1.45em;
  }
  #quote-box .quote-text i {
    font-size: 1em;
    margin-right: 0.4em;
  }
  #quote-box .quote-author {
    margin:10px auto;
    clear: both;
    padding:0;
    font-size: 1em;
    text-align: center;
  }
  #quote-box .buttons {
    width: 400px;
    margin: auto;
    display: block;
  }
  #quote-box .buttons .button {
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
  }
  #quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
    float: left;
    font-size: 1.2em;
  }
  #quote-box .buttons .button#new-quote {
    float: initial;
  }
}
@media (max-width:450px){ 
  #quote-box {
    width: 300px;
    padding: 10px;
    display: block;
  }
  #quote-box .quote-text {
    width: 300px;
    font-weight: 200;
    font-size: 1.25em;
  }
  #quote-box .quote-text i {
    font-size: 0.9em;
    margin-right: 0.4em;
  }
  #quote-box .quote-author {
    margin:10px auto;
    clear: both;
    padding:0;
    font-size: 1em;
    text-align: center;
  }
  #quote-box .buttons {
    width: 300px;
    margin: auto;
    display: block;
  }
  #quote-box .buttons .button {
    font-size: 0.75em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
  }
  #quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
    float: left;
    font-size: 1.2em;
  }

}
@media(max-width:325px){
  #quote-box {
    width: 230px;
    padding: 10px;
    display: block;
  }
  #quote-box .quote-text {
    width: 210px;
    font-weight: 200;
    font-size: 1.25em;
  }
  #quote-box .quote-text i {
    font-size: 0.8em;
    margin-left: 0em;
  }
  #quote-box .quote-author {
    margin-top:10px;
    margin-left:-100px;
    clear: both;
    padding:0;
    font-size: 1em;
    text-align: center;
  }
  #quote-box .buttons {
    width: 250px;
    margin: auto;
    display: block;
  }
  #quote-box .buttons .button {
    font-size: 0.7em;
    padding: 5px 10px 3px 10px;
    margin-top: 30px;
  }
  #quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
    font-size: 1em;
  }


}
/* responsive hasta 217 px */